{% extends "base_menu.html" %}
{% load humanize %} <!-- https://docs.djangoproject.com/en/3.0/ref/contrib/humanize -->

{% block content %}

<span style="float: right;">
{% if user.is_staff %}
<a href="{% url 'viveros:labor_update' labor.id %}"><i class="fa fa-pencil"></i></a>
<a href="{% url 'viveros:labor_delete' labor.id %}"><i class="fa fa-trash"></i></a>
{% endif %}
</span>
<h1>{{ labor.IdAs }}</h1>
<ul>
    <li>Fecha de la labor:{{labor.fecha}}</li>
    <li>Detalles adicionales de la labor realizada: {{labor.descripcion}}</li>
    <li>Producto aplicado para hongos:
    {% if labor.producto_hongo %}
    {{labor.producto_hongo}}
    (siguiente aplicado: {{labor.producto_hongo.periodo_de_carencia }} dias a partir de la fecha)</li>
    {% else %}
    No aplica</li>
    {% endif %}
    <li>Producto aplicado para plagas:
    {% if labor.producto_plaga %}
    {{labor.producto_plaga}}
    (siguiente aplicado: {{labor.producto_plaga.periodo_de_carencia }} dias a partir de la fecha)</li>
    {% else %}
    No aplica</li>
    {% endif %}
    <li>Producto aplicado para fertilizante:
    {% if labor.producto_fertilizante %}
    {{labor.producto_fertilizante}}</li>
    {% else %}
    No aplica</li>
    {% endif %}
</ul>
<input type="submit" value="Volver" onclick="window.location.href='{% url 'viveros:labor_list' %}';return false;">
{% endblock %}