{% extends "base_bootstrap.html" %}

{% block content %}
  <h1>Lista de productores</h1>
  {% if productor_list %}
  <ul>
    {% for productor in productor_list %}
      <li>
          {{ productor.nombre_1 }} {{ productor.apellido_1 }} ({{ productor.cedula }})
         (<a href="{% url 'viveros:productor_update' productor.cedula %}">Editar</a> |
          <a href="{% url 'viveros:productor_delete' productor.cedula %}">Borrar</a>)
      </li>
    {% endfor %}
  </ul>
  {% else %}
    <p>No hay productores creados</p>
  {% endif %}
  <p><a href="{% url 'viveros:productor_create' %}">Crear un productor</a></p>
  <p>
    <a href="{% url 'viveros:all' %}">Volver a los viveros</a>
  </p>
{% endblock %}