{% extends "base_menu.html" %}
{% load humanize %} <!-- https://docs.djangoproject.com/en/3.0/ref/contrib/humanize -->

{% block content %}

<span style="float: right;">
{% if user.is_staff %}
<a href="{% url 'viveros:productocontrolfertilizante_update' productocontrolfertilizante.ICA %}"><i class="fa fa-pencil"></i></a>
<a href="{% url 'viveros:productocontrolfertilizante_delete' productocontrolfertilizante.ICA %}"><i class="fa fa-trash"></i></a>
{% endif %}
</span>
<h1>{{ productocontrolfertilizante.nombre_producto_control }}</h1>
<ul>
    <li>ICA del producto de control: {{productocontrolfertilizante.ICA}}</li>
    <li>Frecuencia de aplicado en dias: {{productocontrolfertilizante.frecuencia}}</li>
    <li>Valor del producto: COP${{productocontrolfertilizante.valor}}</li>
</ul>
<input type="submit" value="Volver" onclick="window.location.href='{% url 'viveros:productocontrolfertilizante_list' %}';return false;">
{% endblock %}