
/* This is a partial blocks.css, you need to add more rules
   to this file to complete the assignment.  Do not add any CSS
   styling to the original index.htm / start.htm */

body {
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}

/* Here is one of many  CSS rules you will need... */
#one {
    border-style: solid;
    border-color: blue;
    border-width: 5px;
    padding: 5px;
    position:fixed;
    background:fixed;
    height: 6em;
    width:11em;
    line-height: 1em;
    bottom: 5px;
    right: 5px;
}

#two {
    border-style: solid;
    border-color: green;
    border-width: 5px;
    padding: 5px;
    position:fixed;
    background:fixed;
    height: 5em;
    width:11em;
    line-height: 1em;
    top: 5px;
    right: 5px;
}

#three {
    border-style: solid;
    border-color: orange;
    border-width: 5px;
    padding: 5px;
    position:fixed;
    background:fixed;
    height: 7em;
    width:11em;
    line-height: 1em;
    top: 5px;
    left: 5px;
}

#four {
    border-style: solid;
    border-color: yellow;
    border-width: 5px;
    padding: 5px;
    position:fixed;
    background:fixed;
    height: 5em;
    width:11em;
    line-height: 1em;
    bottom: 5px;
    left: 5px;
}

#link {
    position:fixed;
    background:fixed;
    height: 1em;
    left:45%;
    background-color:#3d59c6;
    font-size: 14px;
    font-weight: 500;
    line-height:10px;
    color: #ffffff;
    font-family: Helvetica,Arial,sans-serif;
    text-decoration:none;
}

a:link {
  color: white;
  text-decoration:none;
}

a:visited {
  color: white;
  text-decoration:none;
}