{% extends "base_bootstrap.html" %}
{% block navbar %}
{% load app_tags %}
<nav class="navbar navbar-default navbar-inverse">
  <div class="container-fluid">
    <div class="navbar-header">
        <a class="navbar-brand" href="/">{{ settings.APP_NAME }}</a>
    </div>
    <!-- https://stackoverflow.com/questions/22047251/django-dynamically-get-view-url-and-check-if-its-the-current-page -->
    <ul class="nav navbar-nav">
      <!--{% url 'ads' as ads %}
      <li {% if request.get_full_path == ads %}class="active"{% endif %}>
          <a href="{% url 'ads:all' %}">Ads</a></li>-->

      {% url 'viveros' as viveros %}
      <li {% if request.get_full_path == viveros %}class="active"{% endif %}>
          <a href="{% url 'viveros:vivero_list' %}">Viveros</a></li>

      {% url 'productor' as productor %}
      <li {% if request.get_full_path == productor %}class="active"{% endif %}>
          <a href="{% url 'viveros:productor_list' %}">Productores</a></li>

      {% url 'labor' as labor %}
      <li {% if request.get_full_path == labor %}class="active"{% endif %}>
          <a href="{% url 'viveros:labor_list' %}">Labores</a></li>

      <li class="dropdown">
            <a href="#" data-toggle="dropdown" class="dropdown-toggle">
                <b class="caret"></b>
            Productos de Control</a>
            <ul class="dropdown-menu">
                <li><a href="{% url 'viveros:productocontrolhongo_list' %}">Hongos</a></li>
                <li><a href="{% url 'viveros:productocontrolplaga_list' %}">Plagas</a></li>
                <li><a href="{% url 'viveros:productocontrolfertilizante_list' %}">Fertilizantes</a></li>
            </ul>
        </li>

    </ul>
    <ul class="nav navbar-nav navbar-right">
        {% if user.is_authenticated %}
        <li>
            {% if user.is_staff %}
        <a href="{% url 'viveros:empleado_create' %}">Crear Empleado</a>
            {% endif %}
        </li>
        <li class="dropdown">
            <a href="#" data-toggle="dropdown" class="dropdown-toggle">
                <img style="width: 25px;" src="{{ user|gravatar:60 }}"/><b class="caret"></b>
                Bienvenido {{user}}
            </a>
            <ul class="dropdown-menu">
                <li><a href="{% url 'logout' %}?next={% url 'viveros:vivero_list' %}">Cerrar sesión</a></li>
            </ul>
        </li>
        {% else %}
        <li>
        <a href="{% url 'login' %}?next={% url 'viveros:vivero_list' %}">Iniciar sesión</a>
        </li>
        {% endif %}
    </ul>
  </div>
</nav>
{% endblock %}