{% extends "base_bootstrap.html" %}

{% block content %}

{% if form.errors %}
  <p>El usuario y la contraseña no coinciden. Por favor vuelva a intentar.</p>
{% endif %}

{% if next %}
  {% if user.is_authenticated %}
    <p>Usuario con permisos insuficientes. Por favor inicie sesión con un usuario con permisos suficientes.</p>
  {% else %}
    <p>Por favor inicie sesión para ver el sitio.</p>
  {% endif %}
{% endif %}

{% load crispy_forms_tags %}

<form method="post" action="{% url 'login' %}">
{% csrf_token %}
{{ form|crispy }}
<input type="submit" class="btn btn-primary" value="Iniciar sesión" />
<input type="hidden" name="next" value="{{ next }}" />
</form>

{% if settings.SOCIAL_AUTH_GITHUB_KEY %}
<hr/>
<a class="btn btn-info" role="button" href="{% url 'social:begin' 'github' %}?next={{ next }}">
    <i class="fa fa-github" aria-hidden="true"></i>
    Iniciar sesión con GitHub</a>
{% endif %}

<!-- ROOT_URLCONF {{ settings.ROOT_URLCONF }} -->

{% endblock %}

